# EDA

##### Files to read in
* genome-scores.csv
* genome-tags.csv
* links.csv
* movies.csv
* ratings.csv
* tags.csv

## Imports

In [1]:
import pandas as pd
import numpy as np

## File inspect

##### Read in files

In [2]:
gScores = pd.read_csv('DATA/genome-scores.csv', index_col=False)

In [3]:
gTags = pd.read_csv('DATA/genome-tags.csv', index_col=False)

In [4]:
links = pd.read_csv('DATA/links.csv', index_col=False)

In [5]:
movies = pd.read_csv('DATA/movies.csv', index_col=False)

In [6]:
ratings = pd.read_csv('DATA/ratings.csv', index_col=False)

In [7]:
tags = pd.read_csv('DATA/tags.csv', index_col=False)

## genome-scores.csv

In [8]:
gScores.head()

   movieId  tagId  relevance
0        1      1    0.03200
1        1      2    0.02225
2        1      3    0.07000
3        1      4    0.05900
4        1      5    0.12300

In [9]:
gScores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18472128 entries, 0 to 18472127
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 422.8 MB

In [10]:
gScores['movieId'].isna().sum()

0

In [11]:
gScores['tagId'].isna().sum()

0

In [13]:
gScores['tagId'].duplicated().sum()

18471000

## genome-tags.csv

In [14]:
gTags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [15]:
gTags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tagId   1128 non-null   int64
 1   tag     1128 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.8+ KB

In [16]:
gTags['tagId'].duplicated().sum()

0

## links.csv

In [18]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [17]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   imdbId   86537 non-null  int64
 2   tmdbId   86411 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 2.0 MB

## movies.csv

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [20]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
83239 86537

In [21]:
movies['movieId'].duplicated().sum()

0

## ratings.csv

In [22]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 1.0 GB

In [23]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [26]:
ratings['userId'].value_counts()

userId
189614    33332
48766      9554
207216     9178
175998     9016
76618      8919
          ...
118297        1
228609        1
159558        1
12701         1
104595        1
Name: count, Length: 330975, dtype: int64

## tags.csv

In [27]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2328315 entries, 0 to 2328314
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   tag        object
 3   timestamp  int64
dtypes: int64(3), object(1)
memory usage: 71.1+ MB

In [28]:
tags.head()

   userId  movieId            tag   timestamp
0      10      260   good vs evil  1430666558
1      10      260  Harrison Ford  1430666505
2      10      260         sci-fi  1430666538
3      14     1221      Al Pacino  1311600756
4      14     1221          mafia  1311600746

In [32]:
tags.isna().sum()

userId        0
movieId       0
tag          17
timestamp     0
dtype: int64

In [40]:
tags[tags.isna().any(axis=1)]

         userId  movieId  tag   timestamp
530012   104413      123  NaN  1199450867
530013   104413      346  NaN  1199451946
530017   104413     1184  NaN  1199452261
530024   104413     1785  NaN  1199452006
530025   104413     2194  NaN  1199450677
530027   104413     2691  NaN  1199451002
530035   104413     4103  NaN  1199451920
530037   104413     4473  NaN  1199451040
530039   104413     4616  NaN  1199452441
530055   104413     7624  NaN  1199452266
530061   104413     8898  NaN  1199450757
530068   104413    32460  NaN  1199450901
530070   104413    33826  NaN  1199450703
530075   104413    36537  NaN  1199450736
530076   104413    55805  NaN  1199450941
675724   127778   281500  NaN  1670942104
1940149  240847    33826  NaN  1221450908

-----------------

In [30]:
tags['userId'].min(), tags['userId'].max()

(10, 330947)

In [31]:
ratings['userId'].min(), ratings['userId'].max()

(1, 330975)

In [45]:
tags[(tags['movieId'] == 260)]

         userId  movieId             tag   timestamp
0            10      260    good vs evil  1430666558
1            10      260   Harrison Ford  1430666505
2            10      260          sci-fi  1430666538
249          78      260     influential  1443241425
250          78      260      space epic  1443241436
...         ...      ...             ...         ...
2328052  330837      260           space  1437730176
2328142  330903      260  epic adventure  1602043441
2328143  330903      260  old FX quality  1602043458
2328144  330903      260       old movie  1602043455
2328145  330903      260    space combat  1602043463

[11152 rows x 4 columns]

In [46]:
tags[(tags['movieId'] == 260) & (tags['userId'] == 330837)]

         userId  movieId              tag   timestamp
2328051  330837      260  Science Fiction  1437730170
2328052  330837      260            space  1437730176